<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= Description %></p>

<% Posts.forEach(function(blog) { %>
    <h2> <%= blog.title %> </h2>
    <p><%= blog.content.substring(0,100) + "..." %> <a href="/posts/<%= blog._id %>">Read More</a></p>
<% }); %>

<%- include("partials/footer"); -%>